<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157889751535-ot8l00n1a802o5vf9fvjj6b7fsfhujca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157889751535-ot8l00n1a802o5vf9fvjj6b7fsfhujca</string>
	<key>API_KEY</key>
	<string>AIzaSyA-6fjXVTyB9SIBE6Ots-w7nsNWAJN59l0</string>
	<key>GCM_SENDER_ID</key>
	<string>157889751535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.checklistadmin</string>
	<key>PROJECT_ID</key>
	<string>vqc-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>vqc-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157889751535:ios:94657c4e1ef336711f6e1a</string>
</dict>
</plist>